@import "tailwindcss";

/* Cursor Logic: Only hide system cursor on devices with fine pointers (Mouse) */
@media (pointer: fine) {
  html,
  body,
  a,
  button,
  [type="button"],
  input,
  select,
  textarea,
  .interactive,
  .cursor-smart {
    cursor: none !important;
  }
  
  .custom-cursor-element {
    display: flex !important;
  }
}

/* On touch devices, force default cursor and hide custom one */
@media (pointer: coarse) {
  html,
  body,
  a,
  button,
  [type="button"],
  input,
  select,
  textarea,
  .interactive,
  .cursor-smart {
    cursor: auto !important;
  }

  .custom-cursor-element {
    display: none !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  /* Matching the app bg */
  overflow-x: hidden;
}